#center {
    height: 80vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#greeting {
    text-align:left;
    color: white;
}

.hidden {
    display: none;
}

#quote{
    text-align:left;
}

