#center {
    height: 80vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#greeting {
    color: white;
}

#clock {
    color: white;
}

.hidden {
    display: none;
}