@import "./home.css";
@import "./user.css";
@import "./todo.css";
@import "./menu.css";

body{
    height: auto;
    width: auto;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 25px;

    background: linear-gradient(0.25turn, #FC466B, #3F5EFB);
}
button{
    border: none;
    background-color: #ffffff00;
}
:root{
    --gray: rgba(255,255,255, 0.7);
    font-family: 'Tilt Neon', 'Nanum Gothic Coding';
}
#home, #right{
    margin: 0px;
}
.fade-in-box {
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
}
@keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
}
.hidden {
    animation: fadein 3s;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    display: none;
}