.todo {
    height: 100vh;
    width: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#to-do-form{
    width: 99%;
}

#to-do-input{
    height: 47px;
    width: 100%;
    display: block;
    margin-top: 100px;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: left;
    background: rgba(255,255,255);
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 50px;

    caret-color:indigo;
}

#to-do-input::placeholder {
    color: gray;
}

.to-do-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    font-size: 16px;
    font-family: 'Tilt Neon', 'Nanum Gothic Coding';
}

.btn {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;

    padding: 15px;
    margin-bottom: 20px;
    
    position: relative;
    z-index: 0;
    border-radius: 10px;

    border: none;
    outline: none;
    background: rgba(255,255,255, 0.1);
    color: white;
    cursor: pointer;
}

.toDoSpan{
    word-break: break-all;
}


.btn > .toDoLiBtn{
    color: rgba(0, 0, 0, 0.75);
}

.toDoEdit{
    font-size: 17px;
    margin-left: 5px;
    margin-right: 10px;
}

.btn::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #003cff,
      #491de8,
      #1d31e8,
      #1d49e8,
      #3b1de8,
      #1d9ee8,
      #2b1de8,
      #0c00f3,
      #3900f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
  
.btn:hover::before {
    opacity: 1;
}
  
.btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    left: 0;
    top: 0;
    border-radius: 10px;
}
  
@keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}

.toDoGetEditForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toDoGetEditInput{
    width: 90%;

    color: white;
    border: none;
    border-bottom: 3px solid rgba(255,255,255, 0.5);
    background-color: rgba(255,255,255, 0);
}

.toDoGetEditSumit{
    padding: 5px 10px;

    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0);
}