.todo {
    height: 100vh;
    width: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#todo__form{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-top: 180px;

    position: relative;
}
#todo__input{
    width: 100%;
    display: block;
    padding: 12px;
    padding-left: 30px;
    padding-right: 45px;
    
    border: none;
    outline: none;
    text-align: left;
    font-size: 17px;
    border-radius: 50px;
    background: rgba(255,255,255);
    caret-color:indigo;
}
#todo__input::placeholder {
    color: gray;
}
#todo__input::value {
    word-break: break-all;
}
#todo__submit, .toDoGetEditInput{
    background: transparent;
    border: none;
    text-decoration: none;
    outline: 0;
    white-space: nowrap; 
    cursor: pointer;
}
#todo__submit{
    position: absolute;
    top: 10px;
    right: 10px;
    
    font-weight: bolder;
    font-size: 20px;
    color: #ff7300;
}
.todo__list{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    font-size: 18px;
    font-family: 'Tilt Neon', 'Nanum Gothic Coding';
}
/* 아래부터 JS 생성 tag들 */
.btn {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;

    padding: 15px;
    margin-bottom: 20px;
    
    position: relative;
    z-index: 0;
    border-radius: 10px;

    border: none;
    outline: none;
    background: rgba(255,255,255, 0.1);
    color: white;
    cursor: pointer;
}
.toDoSpan{
    word-break: break-all;
}
.btn > .toDoLiBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.75);
}
.toDoEdit, .toDoRemove{
    margin-left: 7px;

    font-size: 18px;
    color: rgba(0, 0, 0, 0.609);
}
.btn::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #003cff,
      #491de8,
      #1d31e8,
      #1d49e8,
      #3b1de8,
      #1d9ee8,
      #2b1de8,
      #0c00f3,
      #3900f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.btn:hover::before {
    opacity: 1;
}
.btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes move {
    0% {
        background-position: 0 0;
        -webkit-transform: translateZ(0);
    }
    50% {
        background-position: 400% 0;
        -webkit-transform: translateZ(0);
    }
    100% {
        background-position: 0 0;
        -webkit-transform: translateZ(0);
    }
}
.toDoGetEditForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.toDoGetEditInput{
    height: 30px;
    width: 90%;
    margin-right: 10px;

    font-size: 16px;
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    color: white;
}
.toDoGetEditSumit{
    padding: 5px 10px;

    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0);
}