.user, .form__inputbox, #quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user {
    height: 100vh;
    width: 100vh;

    color: white;
}
#login-form{
    width: 35vh;
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
    
    position: relative;
}
#login-form input {
    padding: 10px;

    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 1.2em;
    color: var(--gray);
    background: none;
}
#login-form span {
    position: absolute;
    top: 12px;
    left: 30px;
    
    font-size: 20px;
    transition: 0.6s;
    color: var(--gray);
}
#login-form__submit{
    margin-left: 5px;
    padding: 0px;
    
    font-weight: bolder;
    font-size: 30px;

    background: transparent;
    border: none;
    text-decoration: none;
    outline: 0;
    white-space: nowrap; 
    cursor: pointer;
}
#login-form input:focus ~ span,
#login-form input:valid ~ span {
    transform: translateY(-50px);
    font-size: 25px;
}
.greeting {
    margin: 0px;
    font-size: 40px;
    color: white;
    font-family: 'Tilt Neon', 'Nanum Gothic Coding';
}
#quote{
    color: var(--gray);
}
#quote__content{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 23px;
    text-align: center;
}
#quote__name{
    margin: 0px;
    font-size: 16px;
    text-align: center;
}