.user {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.inputbox {
    width: 35vh;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    position: relative;
}

.inputbox input {
    width: 32vh;

    text-align: center;
    border: 2px solid white;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    color: rgba(255,255,255, 0.7);
}

.inputbox span {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 15px;
    transition: 0.6s;
    color: rgba(255,255,255, 0.7);
}

.inputbox input:focus ~ span,
.inputbox input:valid ~ span {
    transform: translateY(-40px);
    font-size: 20px;
}

.greeting {
    margin: 0px;
    font-size: 40px;
    color: white;
    font-family: 'Tilt Neon', 'Nanum Gothic Coding';
}

#quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0.6);
}

#quote-content{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

#quote-name{
    margin: 0px;
    font-size: 12px;
    text-align: center;
}

